@charset "utf-8";
/* CSS Document */
*{box-sizing:border-box;word-break:break-all;word-wrap:break-word;}
html{font-size:62.5%;}
body{margin:0;font-size:13px;font-size:1.3rem;line-height:1.4;background:#000;color:#fff;text-align:center;
	font-family:"メイリオ","MS ゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",Meiryo,Verdana,Arial,sans-serif;}
@media screen and (min-width:768px){
	body{font-size:14px;font-size:1.4rem;line-height:1.5;}
}
@media screen and (min-width:1024px){

}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:100%;}
p{margin:auto 0;}
dl,dt,dd,ul,ol,li{margin:0;padding:0;}
nav,ul,ol{list-style:none;}
table{border-collapse:collapse;}
tr,th,td{margin:0;padding:0;}
th{text-align:left;font-weight:normal;}
.wrap-flex{
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	justify-content:center;
}

a{color:#9dc6d8;transition:0.3s ease-in-out;text-decoration:none;}
@media screen and (min-width:768px){
	a:hover{color:#c00;text-decoration:none;}
}
a.btn{display:inline-block;border:1px solid #9dc6d8;border-radius:6px;padding:10px 50px;}
@media screen and (min-width:768px){
	a.btn{padding:10px 50px;}
	a.btn:hover{background:#800;border-color:#700;color:#fff!important;}
	.area-link img{cursor:pointer;transition:0.3s ease-in-out;}
	.area-link:hover img{opacity:0.7;}
}
.center-btn{margin-top:10px;justify-content:space-between;}
.center-btn li{max-width:49%;}
.center-btn--3 li{max-width:32%;}
.center-btn li .btn{padding:10px;}
@media screen and (min-width:768px){
	.center-btn{margin-top:30px;justify-content:center;}
	.center-btn li{margin:0 0.5%;}
	.center-btn li .btn{padding:10px 50px;}
}

img{vertical-align:bottom;border:none;}
figure{margin:0;padding:0;}
figure img{max-width:100%;height:auto;}
.thum img{border-radius:50%;max-width:100%;}/*女優*/
.jac-small img{max-width:100%;}/*パケ*/
.jac-large img{max-width:100%;}/*パケ*/
@media screen and (min-width:768px){
	figure img{}
	.thum img{max-width:125px;max-height:125px;}/*女優*/
	.jac-small img{max-width:147px;}/*パケ*/
	.jac-large img{max-width:initial;}
	.imghover a img{transition:0.3s ease-in-out;}
	.imghover a:hover img{opacity:0.7;filter:alpha(opacity=70);}
}

.ellipsis,.truncate{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.bold{font-weight:bold;}
.red{color:#f00;}
.serif{font-family:Times New Roman,"游明朝",YuMincho,"ヒラギノ明朝 ProN W3",Hiragino Mincho ProN,serif;}
.arial{font-family:Arial, Helvetica, sans-serif;}

.fsS{font-size:1rem;}
.txtL{text-align:left;}
.txtR{text-align:right;}
.txtC{text-align:center;}
@media screen and (min-width:768px){
	.fsS{font-size:1.2rem;}
}
.flL{float:left;}
.flR{float:right;}
.col2{width:49%;}
@media screen and (max-width:767px){
	.flL{float:none;}
	.flR{float:none;}
	.col2{width:100%;}
}

.says,.screen-reader-text{clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;position:absolute!important;width:1px;word-wrap:normal!important;}



.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */
.clear{clear:both;}

/*****************************************
layout
******************************************/
#header{}
#main{width:100%;padding:70px 3% 30px;}
section{}
#footer{width:100%;}
.wrap{max-width:100px;margin-left:auto;margin-right:auto;}
.inner{max-width:94%;margin-left:auto;margin-right:auto;}
@media screen and (min-width:768px){
	#main{padding:100px 1% 30px;}
}

/*****************************************
header
******************************************/
#header{width:100%;height:70px;background:rgba(0,0,0,0.75);border-bottom:1px solid #222;position:fixed;top:0;z-index:99;}
#logo{width:100%;line-height:40px;}
@media screen and (min-width:768px){
	#header{height:80px;}
	#header .wrap-flex{justify-content:space-between;}
	#logo{line-height:80px;width:auto;}
}
.site-navigation{width:100%;border-top:1px solid #222;}
.site-navi{}
.site-navi li{min-width:33%;}
.site-navi li a{display:block;line-height:30px;border-left:1px solid #222;}
.site-navi li:first-child a{border-left:none;}
@media screen and (min-width:768px){
	.site-navigation{width:40%;}
	.site-navi{width:100%;}
	.site-navi li{min-width:33%;padding:20px 0;}
	.site-navi li a{line-height:40px;font-size:1.6rem;}
	.site-navi li:first-child a{border-left:1px solid #222;}
}

/*****************************************
content
******************************************/



/*****************************************
footer
******************************************/
#footer{position:relative;}
#pagetop{position:fixed;right:2%;bottom:0;font-size:60px;opacity:0.5;cursor:pointer;z-index:102;}
#pagetop:hover{}
@media screen and (max-width:767px){
	#pagetop{font-size:40px;opacity:0.8;}
	#pagetop:hover{color:#9dc6d8!important;}
}

/*****************************************
title
******************************************/
#page-header,.header{padding:1em 0;line-height:1.2;}
.header{margin:50px 0 1em;}
#page-header,.header__top{margin-top:0!important;}
.main-title{font-weight:normal;color:#c00;}
.main-title span.ttl{display:block;font-weight:bold;color:#fff;font-size:2rem;margin:0 0 0.2em;}
/*.fix-title{z-index:997;position:fixed;background:rgba(0,0,0,0.8);}*/
@media screen and (min-width:768px){
	#page-header,.header{}
	.header{margin:100px 0 1.5em;}
	.main-title span.ttl{font-size:3rem;margin:0 0 0.1em;}
	/*.fix-title{position:relative;}*/
}
/*****************************************
list
******************************************/
.actress-list{}
.actress-list li{max-width:32%;margin-right:2%;padding-bottom:2%;}
.actress-list li:nth-child(3n){margin-right:0;}
.actress-list li figure{margin-bottom:0.1em;}
.actress-list li .fsS{color:#bbb;line-height:1.2;}
@media screen and (min-width:768px){
	.actress-list{}
	.actress-list li{max-width:initial/*125px*/;margin:0 0.5%;}
	.actress-list li:nth-child(3n){margin-right:0.5%;}
	.actress-list li figure{margin-bottom:0.5em;}
	.actress-list li .fsS{line-height:1.4;}
}
@media screen and (min-width:1024px){
	.actress-list li{padding-bottom:10px;}	
}

.product-list{}
.product-list li{max-width:32%;margin-right:2%;padding-bottom:2%;}
.product-list li:nth-child(3n){margin-right:0;}
.product-list figure{margin-bottom:0.5em;border:solid 3px #555;}
.product-list__title{text-align:left;margin:0 auto;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.product-list__sale{color:#bbb;margin:0.2em auto;}
.product-list__name a{color:#ccc;}
@media screen and (min-width:768px){
	.product-list{justify-content:center;}
	.product-list li{max-width:157px;margin:0 0.5%;}
	.product-list figure{margin-bottom:0.5em;border-width:5px;}
	.product-list__title{position:relative;max-height:4.2rem;}
	.product-list__name a:hover{color:#c00;}
}
@media screen and (min-width:1024px){
	.product-list li{padding-bottom:10px;}
}

.list-sort{max-width:600px;margin:0 auto 2em;}
.list-sort li{float:left;width:33%;}
.list-sort li a{display:block;width:100%;padding:0.5em 0;border:solid 1px #9dc6d8;}
.list-sort li:first-child a{border-right:none;border-radius:6px 0 0 6px;}
.list-sort li:nth-child(2){}
.list-sort li:last-child a{border-left:none;border-radius:0 6px 6px 0;}
.list-sort li a:hover{background:#9dc6d8;color:#000!important;}
.list-sort li.active a{background:#9dc6d8;color:#000;}
.list-sort__p{margin:-1em auto 2em;}
@media screen and (max-width:767px){
	
}
.pager{display:flex;display:-webkit-flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;justify-content:center;}
.pager li{display:inline-block;}
.pager li a{display:inline-block;padding:0.3em;}
.pager li.active a{color:#c00;}

/*****************************************
actress
******************************************/
#actress-detail{}
.actress-detail__box{width:100%;}
#actress-detail figure{}
#tbl-actress{margin:1em auto 0;}
#tbl-actress th,#tbl-actress td{text-align:left;vertical-align:top;padding:0.1em 0;}
#tbl-actress th{width:5em;}
@media screen and (min-width:768px){
	#actress-detail{justify-content:space-between;}
	.actress-detail__box{max-width:49%;}
	.actress-detail__box:first-child{text-align:right;}
	#tbl-actress{margin:0;}
}

/*****************************************
product
******************************************/
.wrap-detail{}
.wrap-detail__img{margin-bottom:1em;}
.wrap-detail__data{margin-bottom:1em;}
@media screen and (min-width:768px){
	.wrap-detail__img{min-width:49%;margin-right:1%;}
	.wrap-detail__movie{max-width:720px;margin-left:1%;}
	.wrap-detail__movie iframe{}
}
@media screen and (max-width:767px){
	.wrap-detail__movie iframe{max-width:94vw;height:calc(94vw * 0.66666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666);}
	.wrap-detail__movie #page.tablet.blogparts{height:auto!important;}
}

#tbl-product{margin:1em auto 0;max-width:700px;border-collapse:separate;}
#tbl-product th,#tbl-product td{vertical-align:top;padding:0.2em 0;}
#tbl-product th{text-align:center;width:5.5em;background:#222;vertical-align:middle;}
#tbl-product td{max-width:100%;text-align:left;padding-left:0.5em;}
#tbl-product td span{display:inline-block;margin-right:0.5em;}


.aff-list{margin:2em auto 0;width:100%;}
.aff-list a{display:inline-block;width:49%;background:#c00;color:#fff;line-height:60px;border:solid 1px #c00;border-radius:6px;margin-left:2%;}
.aff-list a:first-child{margin-left:0;}
.aff-list a .fas{font-size:2em;line-height:60px;vertical-align:middle;}
@media screen and (min-width:768px){
	.aff-list{max-width:700px;}
	.aff-list li{float:none;width:100%;margin-left:0;}
	.aff-list li:first-child{}
	.aff-list a:hover{background:none;color:#c00;}

}

.wrap-sample{margin-top:1em;align-items:center;justify-content:center;}
.sample-box{padding:1px;height:calc(100vw / 3.17);}
.sample-box img{max-width:100%;max-height:100%;}
/*.sample-box{border:3px solid #000;width:33%;overflow:hidden;position:relative;background:#010101;}
.sample-box:before{content:"";display:block;padding-top:56.625%;}
.sample-box img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);max-width:100%;max-height:200%;height:auto;}*/
@media screen and (min-width:768px){
	.sample-box{padding:4px;max-height:240px;}
	.sample-box img{}
	/*.sample-box{width:20%;}
	.sample-box img{transition:0.3s;}
	.sample-box img:hover{opacity:0.7;}*/
}




/*****************************************
slide
******************************************/
.overlay{z-index:990;width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.5);display:none;}
.slide{z-index:991;position:fixed;top:71px;bottom:0;left:100%;transition:0.3s ease-in-out;border-left:solid 1px #222;background:rgba(10,10,10,0.8);}
.slide-open{left:0;width:100%;}
.slide-inner{padding:2% 3%;width:100%;height:100%;overflow-y:auto;}
.slide-ttl{text-align:left;margin:1em 0 0.5em;}
.slide-ttl--top{margin-top:;}
.slide-inner form{margin-bottom:30px;}
@media screen and (min-width:767px){
	.slide{top:80px;}
	.slide-open{left:60%;width:40%;}
	.slide-inner{padding:3%;}
	.slide-ttl{}
}

.tbl-range{width:100%;}
.tbl-range th{width:5em;padding:0 0 1em;}
.tbl-range td{padding:0 1em 1em;}
.tbl-range td input{width:2em;text-align:center;}
.tbl-range .min,.tbl-range .max{width:2em;padding:0 0 1em;}

.list-initial{}
.list-initial li{display:inline;}
.list-initial li a{display:inline-block;padding:0 0.2em;}

.list-genre{}
.list-genre li{display:inline;}
.list-genre li a{display:inline-block;padding:0 0.5em;border:1px solid #9dc6d8;margin:0.2em;border-radius:4px;}
@media screen and (min-width:767px){
	.list-genre li a:hover{background:#9dc6d8;color:#000;}
}



/*****************************************
form
******************************************/
input{font-size:16px;line-height:16px;border:none;box-sizing:border-box;width:100%;border-radius:6px;}
input:focus{border-radius:6px;border:none;}
.search-form{position:relative;width:100%;margin:0 auto;background:#333;border:none;color:#eee;border-radius:6px;}
.search-submit{display:inline-block;font-size:16px;line-height:16px;}
.search-text{background:#333;color:#eee;padding:0 40px 0 10px;height:36px;}
/*.search-submit{width:36px;line-height:36px;height:36px;position:absolute;top:0;right:0;}*/

@media screen and (max-width:767px){
	
}


